.BLCK { background-color:  #000000; }
.dipali { background-color:  #00cccc; }
.DPBOSS1 { background-color:  #FFCC66; margin-top: 10PXpx; margin-bottom: 10PXpx; margin-left: 10PXpx; margin-right: 10PXpx; padding-top: 10PXpx; padding-bottom: 10PXpx; padding-left: 10PXpx; padding-right: 10PXpx; }
.DPBOSS2 { background-color:  #CC9933; }
.DPSBOSS { background-color:  #FFFF99; margin-top: 10PXpx; margin-bottom: 10PXpx; margin-left: 10PXpx; margin-right: 10PXpx; padding-top: 10PXpx; padding-bottom: 10PXpx; padding-left: 10PXpx; padding-right: 10PXpx; }
.pika { background-color:  #CC33CC; margin-top: 10PXpx; margin-bottom: 10PXpx; margin-left: 10PXpx; margin-right: 10PXpx; padding-top: 10PXpx; padding-bottom: 10PXpx; padding-left: 10PXpx; padding-right: 10PXpx; }
.white { background-color:  FFFFFF; margin-top: 10PXpx; margin-bottom: 10PXpx; margin-left: 10PXpx; margin-right: 10PXpx; padding-top: 10PXpx; padding-bottom: 10PXpx; padding-left: 10PXpx; padding-right: 10PXpx; }
.record {align: center;background-color:#fff;border-color:#893bff;border-style:double;border-width:1px;color:#000;font-family:Georgia,serif;font-style:italic; font-weight:900; text-align: center; text-shadow: 1px 1px gold;}
 .social{float: right;position: absolute;right: 15px;top: 15px;}
 @media screen and (max-width:890px){.social{float: none;position: initial;right: 15px;top: 15px;}}
@media screen {body {word-wrap:break-word;margin:auto;height:auto;font-family:comic sans ms, cursive, sans-serif;}h1,h2,h3,h4{color:#FF0000;font-size:20px;}}
@media screen and (max-width:122px),(max-width:128px),(max-width:234px),(max-width:240px),(max-width:320px),(max-width:480px),(max-width:620px),(max-width:768px),(max-width:800px),(max-width:1024px){body{word-wrap:break-word;max-width:100%}.float-right,.float-left{display:none;}}
@media screen and (min-width:1025px){body{word-wrap:break-word;}.nopc,.brown{display:none;}}
@media print {body{word-wrap:break-word;margin:auto;max-width:100%;font-family:times,serif;font-size:16px;text-align:justify;height:auto;}.black,.footer,.footer2,.noprint,.float-right,.float-left{display:none;}h1,h2,h3,h4{color:orange;font-size:18px;}}
@media projection {body {word-wrap:break-word;margin:auto;font-family:comic sans ms;max-width:70%;height:auto;}.nopc{display:none;}h1,h2,h3,h4{color:#FF0000;font-size:22px;}}.cyberindia{box-shadow:10px 5px 7px -2px #878988, -10px 5px 7px -2px #878988;}a{text-decoration:none;}a:visited {color:#6086B1;}a:hover{color:#ff0000;}input, textarea, select{background-color:#fad2d2;color:#0000ff;border:1px solid #0000ff;}.black{font-size:22px;background:#db4f4f;border-top-left-radius:20px;border-top-right-radius:20px;}.phdr2{font-size:22px;font-weight:bold;border-bottom:1px solid #cdcdcd;background:#afffaf repeat-x 50% top;padding:3px;}.phdr2 span{color:#89b100;position:relative;top:3px;border:1px solid #d3d2d2;background:#fff;padding:3px;}.picture:hover{font-size:18px;color:#ffffff;font-weight:bold;background-color:#000000;margin-left:10%;margin-right:10%;width:auto;}.picture{border:1px solid #CCCCCC;color:#000000;}.tmn{background-color:#0084b5;color:#ffffff;border-radius:10px;}.download{border-left:4px solid #d54fd5;background-color:#f4d2f4;}.download2{border-left:4px solid #ff2600;}.download3{border-left:4px solid #F3BB0B;background-color:#eeeeee;}.bpri{margin-right:5px;margin-left:5px;border:1px solid #95d8fa;background:#d4ecff;margin-bottom:5px;border-radius:4px;}.opri{margin-right:5px;margin-left:5px;border:1px solid #face95;background:#ffefd4;margin-bottom:5px;border-radius:4px;}.gpri{margin-right:5px;margin-left:5px;border:1px solid #c5e76c;background:#ebf8c9;margin-bottom:5px;border-radius:4px;}.rpri{margin-right:5px;margin-left:5px;border:1px solid #ffcfcf;background:#ffeeee;margin-bottom:5px;border-radius:4px;}.frame{border:solid 1px #ccc;}.update{margin-bottom:5px;}.grey{color:#333333;background:#f4f4f4;border:1px solid #ccc;margin-bottom:5px;}.yellow{color:#333333;background:#ffffcc;border:1px solid #ccc;margin-bottom:5px;}.float-left{position:fixed;top:20px;left:0;z-index:-9999;}.float-right{position:fixed;top:0px;right:0;z-index:-9999;}.footer2{border:1px #009f00 solid;background:#009f84;}.footer{border:1px #ff0000 solid;background:#770000;}@media handheld {body{word-wrap:break-word;margin:auto;max-width:100%;height:auto;}.float-right,.float-left{display:none;}h1,h2, h3,h4{color:green;}}


 .chartjodi{background-color:#fff;border-color:blue;color: #000;border-radius:4px;border-style:solid;border-width:1px 3px;font-size:large;font-style:italic;font-weight:700;margin-bottom:10px;margin-top:10px;padding:10px 5px;text-align:center;text-shadow:1px 1px #ffd700}
.top1{background-color:mintcream;color:black;font-weight:bold;font-style:italic;font-size:large;text-decoration:none;border-width:3px;border-color:yellow;border-style:inset;margin-top:3px;margin-bottom:3px;margin-left:0px;margin-right:0px;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;border-radius:0px;text-shadow:1px 2px gold;}